<!--
  Generated template for the ConstructionDetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>{{construction.name}}</ion-title>
        <ion-buttons end>
            <button ion-button (click)="openHomePage()">
                <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button (click)="openMorePage()">
                <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content padding>
    <!--ion-row>
        <ion-col>
            <div class="heading">{{construction.name}}</div>
        </ion-col>
    </ion-row-->


    <ion-row>
        <ion-col col-12>
            <div class="progressbar-con">
                <span [style.width.%]="construction.mobilization" [class]="construction.mobilization==100?'completed-bg':''"></span>
                <span [class]="construction.mobilization==100?'completed-text':''">Mobilization {{construction.mobilization}}%</span>
            </div>
        </ion-col>
        <ion-col col-12>
            <div class="progressbar-con">
                <span [style.width.%]="construction.structure" [class]="construction.structure==100?'completed-bg':''"></span>
                <span [class]="construction.structure==100?'completed-text':''">Structure {{construction.structure}}%</span>
            </div>
        </ion-col>
        <ion-col col-12>
            <div class="progressbar-con">
                <span [style.width.%]="construction.mep" [class]="construction.mep==100?'completed-bg':''"></span>
                <span [class]="construction.mep==100?'completed-text':''">MEP Works {{construction.mep}}%</span>
            </div>
        </ion-col>
        <ion-col col-12>
            <div class="progressbar-con">
                <span [style.width.%]="construction.finishes" [class]="construction.finishes==100?'completed-bg':''"></span>
                <span [class]="construction.finishes==100?'completed-text':''">Finishing {{construction.finishes}}%</span>
            </div>
        </ion-col>
    </ion-row>


    <ion-row>
        <ion-col>
            <div id="demo-test-gallery" class="demo-gallery gallerymain">
                <div class="row blog-pageview">
                    <ion-row>
                        <ion-col col-6 col-sm-4 col-md-3 col-lg-3 *ngFor="let image of construction.images;">
                            <img [src]="image" alt="{{construction.name}}" (click)="openGallery(construction.images)" />
                            <!--<ionic-image-cache [src]="image" alt="{{construction.name}}" (tap)="openGallery(construction.images)"></ionic-image-cache>-->
                        </ion-col>
                    </ion-row>
                </div>
            </div>
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col>
            <table *ngIf="construction.finish_at" class="deliveryDate">
                <tr>
                    <td>Delivery Date</td>
                    <td class="txt-right">{{construction.finish_at}}</td>
                </tr>
                </tbody>
            </table>
            <div *ngIf="construction.updated_at" class="lastUpdate">Last Updated: {{construction.updated_at}}</div>
        </ion-col>
    </ion-row>






</ion-content>