page-property {
    .grid{
        padding:0;

        .btn-footer{
            padding:0;
            text-transform: capitalize;
        }
    }

    .slide-title {
        position: absolute;
        top: 80%;
        font-size: 1.5em;
        width: 100%;
        font-weight: bold;
        color: #fff;
        background: rgba(0,0,0,0.4);
    }

    .slide-subtitle {
        font-size: 1.0em;
        position: absolute;
        top: 52%;
        width: 100%;
        color: #fff;
    }

    .slide-image{ 
        width: 100vw;
        object-fit: cover;
        height: 100vh;
    }

    .show-buttons{
        ion-row{
            margin: auto;
        }
        position: absolute;
        bottom: 30px;
        z-index: 1;
        padding: 0 16px;
        text-align: center;
    }

   



}

