<!--
  Generated template for the EventsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Events</ion-title>
        <ion-buttons end>
            <button ion-button (click)="openHomePage()">
                    <ion-icon name="home"></ion-icon>
            </button>
            <button ion-button (click)="openMorePage()">
                    <ion-icon name="more"></ion-icon>
            </button>
        </ion-buttons>
    </ion-navbar>
</ion-header>


<ion-content>
    <ion-card *ngFor="let event of events|keys" (click)="openEventDetailPage(event.value)">
        <img [src]="event.value.image"/>
        <ion-card-content>
            <ion-card-title>
                {{event.value.name}}
            </ion-card-title>
            <h3 padding-bottom>{{event.value.event_date}}</h3>
            <span [innerHTML]="event.value.text|slice:0:300"></span>...
            <ion-row>
                <ion-col text-right>
                    <a>Read More</a>
                </ion-col>
            </ion-row>
        </ion-card-content>
    </ion-card>
    <h1 padding *ngIf="!events">No Event.</h1>
</ion-content>
